<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Cookbook" lan="LAN_CB_NAME" version="1.0.0" date="2021-04-10" compatibility="2.0" installRequired="true" >
	<author name="Tijn Kuyper" url="https://www.tijnkuyper.nl" />
	<summary lan="LAN_CB_SUMM">A fully featured Cookbook for all your recipes.</summary>
	<description lan="LAN_CB_DESC">A fully featured Cookbook for all your recipes. Includes functionalities such as categorization, sharing, and favoriting. Users can also submit new recipes.</description>
	<keywords>
		<word>recipes</word>
		<word>cooking</word>
	</keywords>
	<category>content</category>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" icon128="images/icon_128.png" primary="true">LAN_CONFIGURE</link>
	</adminLinks>
	<siteLinks>
		<link url="{e_PLUGIN}cookbook/index.php" icon="{e_PLUGIN}cookbook/images/icon_32.png" sef='index' perm='everyone'>Cookbook</link>
	</siteLinks>
	<pluginPrefs>
		<pref name='overview_format'>overview_grid</pref>
		<pref name='gridview_itemspp'>10</pref>
		<pref name='gridview_sortorder'>desc</pref>
		<pref name='latest_itemspp'>10</pref>
		<pref name='date_format'>short</pref>
		<pref name='comments_enabled'>1</pref>
		<pref name='recipe_authorrating'>0</pref>
		<pref name='recipe_userrating'>0</pref>
		<pref name='recipe_userratingclass'>0</pref>
		<pref name='recipe_activetime'>0</pref>
		<pref name='recipe_difficulty'>1</pref>
		<pref name='recipe_showrelated'>1</pref>
		<pref name='recipe_showprint'>1</pref>
		<pref name='recipe_showbookmark'>1</pref>
		<pref name='recipe_showsharing'>1</pref>
		<pref name='submission_userclass'>254</pref>
		<pref name='recipe_ingredientcheckboxes'>0</pref>
		<pref name='devmode'>0</pref>
	</pluginPrefs>
	<mediaCategories>
		<category type="image" sef="cookbook-recipes" perm="everyone">Cookbook recipes</category>
		<category type="image" sef="cookbook-categories" perm="everyone">Cookbook categories</category>
	</mediaCategories>
	<copyright>Created by Tijn Kuyper. Released under the terms and conditions of the Apache License 2.0.</copyright>
</e107Plugin>